<a href="https://colab.research.google.com/github/imappseven/test/blob/master/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_1 = 12
num_2 = 16

print(num_1 == num_2)

False

In [ ]:
print(num_1 != num_2)

True

In [ ]:
print(num_1 < num_2)

True

In [ ]:
var_a = False
var_b = 7 > 8
print(var_a and var_b)

False

In [ ]:
print(var_a or var_b)

False

In [ ]:
var_c = True

In [ ]:
print(var_a or var_c)

True

In [ ]:
print(not var_a)

True

In [ ]:
coupon_code = "FT91217T"

coupon_code_db = "FT91217T"

print(coupon_code == coupon_code_db)

True

In [ ]:
gpa_smt_1 = 3.5
gpa_smt_2 = 3.5

print(gpa_smt_1 >= 3.5 and gpa_smt_2 >= 3.5)

True

In [ ]:
gpa_smt_1 = 3.2
gpa_smt_2 = 2.8

In [ ]:
get_prestasi_bs = True

print(get_prestasi_bs or (gpa_smt_1 >= 3.5 and gpa_smt_2 >= 3.5))

True

In [ ]:
gpa_smt_1 = 3.0
gpa_smt_1 = 3.6
get_prestasi_ol = True

print(gpa_smt_1 >= 3.5 or ip_gpa_smt_2 >= 3.5 and get_prestasi_ol == True)

True

In [ ]:
class Shopping:
  roti = 3
  soda = 5
  selai = 2

  def jumlah_belanja(self):
    print(f'''
    Jumlah Belanja:
    Roti = {self.roti}
    Soda = {self.soda}
    Selai = {self.selai}
    ''')
  

belanja = Shopping()
belanja.jumlah_belanja()

    Jumlah Belanja:
    Roti = 3
    Soda = 5
    Selai = 2

In [ ]:
class Pekerja:
  def __init__(self, nama_depan,nama_belakang):
    self.nama_depan = nama_depan
    self.nama_belakang = nama_belakang
  
  def nama_lengkap(self):
    print(f"{self.nama_depan} {self.nama_belakang}")
  
  def email(self):
    print(f"{self.nama_depan}.{self.nama_belakang}@company.com".lower())


worker = Pekerja("Santoso", "Toso")
worker.nama_lengkap()
worker.email()

Santoso Toso
santoso.toso@company.com

In [ ]:
class BankAccount:
  def __init__(self, nomor_rek, nama, saldo):
    self.nomor_rek = nomor_rek
    self.nama = nama
    self.saldo = saldo
  
  def display(self):
    print(f"Nomor Akun : {self.nomor_rek}")
    print(f"Nama       : {self.nama}")
    print(f"Saldo      : Rp{self.saldo}")
  
  def setor_tunai(self, uang):
    self.saldo = self.saldo + uang
    return self.saldo
  
  def tarik_tunai(self, uang):
    self.saldo = self.saldo - uang
    return self.saldo


cust1 = BankAccount(9483938493, "Santoso", 15000000)
cust1.display()
cust1.setor_tunai(6000000)
cust1.tarik_tunai(5000000)

Nomor Akun : 9483938493
Nama       : Santoso
Saldo      : Rp15000000

16000000

In [ ]:
class Jets:
  def __init__(self, asal, nama):
    self.asal = asal
    self.nama = nama
  

class AJS37(Jets):
  def __init__(self, asal, nama):
    super().__init__(asal, nama)

class IDN17(Jets):
  def __init__(self, asal, nama):
    super().__init__(asal, nama)


jet_1 = AJS37("Swedia", "AJS37")
print(f"Pesawat berasal dari {jet_1.asal} dengan nama {jet_1.nama}")

jet_2 = IDN17("Indonesia", "IDN17")
print(f"Pesawat berasal dari {jet_2.asal} dengan nama {jet_2.nama}")

Pesawat berasal dari Swedia dengan nama AJS37
Pesawat berasal dari Indonesia dengan nama IDN17

In [22]:
class Vehicles:
  def __init__(self, capacity):
    self.capacity = capacity
  
class Microlet(Vehicles):
  def __init__(self, capacity, fare):
    super().__init__(capacity)
    self.fare = fare

  def profit(self):
    total = self.fare * self.capacity
    return total

class Bus(Vehicles):
  def __init__(self, capacity, fare):
    super().__init__(capacity)
    self.fare = fare
  
  def profit(self):
    total = self.capacity * self.fare * 0.9
    return int(total)

  
# microlet = Microlet(10, 3000)
# print(f"Total profit: Rp{microlet.profit()}")

bus = Bus(20, 4000)
print(f"Total profit: Rp{bus.profit()}")

Total profit: Rp72000