<a href="https://colab.research.google.com/github/imappseven/test/blob/master/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def count_tax():
  tax = 0.05
  try:
    while True:
      income = int(input("Enter your salary: "))
      if income > 0:
        tax_burden = income * tax
        net = income - tax_burden
        print(f"The amount of tax you have to pay for is {tax_burden}, so you will receive income Rp{net}")
        break
      
      else:
        raise Exception("Your salary must be > 0")
  
  except ValueError:
    print("You enter the wrong amount of salary")
  
  except NameError:
    print("Variables are not matched")

In [5]:
count_tax()

Enter your salary: 9000
The amount of tax you have to pay for is 450.0, so you will receive income Rp8550.0

In [6]:
count_tax()

Enter your salary: i dunno
You enter the wrong amount of salary

In [8]:
count_tax()

Enter your salary: -2

Exception: ignored